{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}}

 :paths
 ["src" "resources"]

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-521"}
                       org.clojure/test.check {:mvn/version "RELEASE"}}}}}
